:root {
  --desktop-pattern: url('assets/images/desktop.webp');
  --tablet-pattern: url('assets/images/tablet.webp');
  --mobile-pattern: url('assets/images/mobile.webp');
  --current-pattern: var(--mobile-pattern);
  --violet: hsla(236, 62%, 60%, 1.00);
  --light-violet: hsla(236, 72%, 76%, 1.00);
  --very-dark-blue: hsla(220, 26%, 14%, 1.00);
  --midnight: hsla(222, 25%, 10%, 1.00);
  --just-white: hsla(0, 0%, 100%, 1.00);
  --light-grey: hsla(210, 22%, 96%, 1.00);
  --just-gray: hsla(216, 20%, 69%, 1.00);
  --dark-grey: hsla(217, 15%, 52%, 1.00);
  --max-length: 1200px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p,span,div {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


@media (min-width: 768px) {
  :root {
    --current-pattern: var(--tablet-pattern);
  }
}

@media (min-width: 1024px) {
  :root {
    --current-pattern: var(--desktop-pattern);
  }
}
