:root {
  --desktop-pattern: url('assets/images/desktop.webp');
  --tablet-pattern: url('assets/images/tablet.webp');
  --mobile-pattern: url('assets/images/mobile.webp');
  --current-pattern: var(--mobile-pattern);
  --violet: hsla(236, 62%, 60%, 1.00);
  --light-violet: hsla(236, 72%, 76%, 1.00);
  --very-dark-blue: hsla(220, 26%, 14%, 1.00);
  --midnight: hsla(222, 25%, 10%, 1.00);
  --just-white: hsla(0, 0%, 100%, 1.00);
  --light-grey: hsla(210, 22%, 96%, 1.00);
  --just-gray: hsla(216, 20%, 69%, 1.00);
  --dark-grey: hsla(217, 15%, 52%, 1.00);
  --max-length: 1110px;
  --max-width-detail: 730px;
  --current-bg: var(--light-grey);
  --current-card-bg: var(--just-white);
  --current-font-color: var(--very-dark-blue);
  --box-shandow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  --icon-filter-color: var(--dark-grey);
  --mercury: hsla(200, 6%, 90%, 1.00);
  --black-rock: hsla(220, 15%, 20%, 1.00);
  --current-check-bg: var(--mercury);
  --zircon: hsla(207, 15%, 88%, 1.00);
  --ebony-clay: hsla(216, 21%, 18%, 1.00);
  --filter-section-borders-color: var(--zircon);
  --selago: hsla(235, 62%, 96%, 1.00);
  --midnight-express: hsla(227, 30%, 18%, 1.00);
  --current-secondary-color: var(--selago);
}

*, *::before, *::after {
  box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,p,span,div {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

button, input, select {
  font-family: inherit;
}

a {
  font-family: inherit;
  text-decoration: none;
}

html[data-theme='dark'] {
  --current-bg: var(--midnight);
  --current-card-bg: var(--very-dark-blue);
  --current-font-color: var(--just-white);
  --icon-filter-color: var(--just-white);
  --current-check-bg: var(--black-rock);
  --filter-section-borders-color: var(--ebony-clay);
  --current-secondary-color: var(--midnight-express);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--current-bg);
  color: var(--current-font-color);
  font-family: 'KubhmSans', sans-serif;
}


@media (min-width: 768px) {
  :root {
    --current-pattern: var(--tablet-pattern);
  }
}

@media (min-width: 1024px) {
  :root {
    --current-pattern: var(--desktop-pattern);
  }
}

@font-face {
  font-family: 'KubhmSans';
  src: url('assets/fonts/KumbhSans-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KubhmSans';
  src: url('assets/fonts/KumbhSans-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}
